---
---

@import "minima";

$spacing-unit:      30px !default;
$header-height:     $spacing-unit * 1.865;

#navigator {
    position: fixed;
    right: 0;
    top: calc(#{$header-height} + 5px);
    background-color: white;

    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: #e8e8e8;
    padding-right: $spacing-unit;
}

p {
    margin-top: 15px;
}

div.theorem {
    font-style: italic;
    margin: 2% 0 2% 0;
}
  
div.theorem::before {
    content: "Theorem. ";
    font-weight: bold;
    font-style: normal;
}

div.theorem[text]::before {
content: "Theorem (" attr(text) "). ";
}

div.def {
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 2px;

    padding: 10px;
    margin: 15px 10px 15px 10px;
}

div.def::before {
    content: "Definition. ";
    font-weight: bold;
    font-style: normal;
}

div.def[text]::before {
content: "Definition (" attr(text) "). ";
}

.dp_container {
    position: absolute;
    width: 250px;
    margin-top: -30px;
}

.dp_text {
    position: absolute;
}

.dp {
    position: absolute;
    margin-top: 0;
    top: 0;
    transition: top 1s ease;

    &:hover {
        top: 100px;
    }
}

.wrapper {
    margin-left: 5%;
    margin-right: 5%;
    max-width: unset;
}

.note {
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    padding: 10px;
    margin: 15px 10px 15px 10px;

    position: relative;
}

.note p, .def p, .wrapper p {
    margin: 0;
}

.note .side {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: center;
    left: calc(100% + #{$spacing-unit});
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul, ol, img {
    margin-top: calc(#{$spacing-unit} / 2);
    margin-bottom: calc(#{$spacing-unit} / 2);
}

img.boxed {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(211, 211, 211, 0.75);
    border-radius: 10px;

    padding: 10px;
}

.nav-block .side {
    border-bottom: solid 2px #111;
    width: fit-content;
}

.ongoing {
    color: rgb(230, 150, 2);
}

#index {
    display: grid;
    justify-items: center;

    #left {
        grid-column-start: 1;
    }

    #right {
        grid-column-start: 2;
    }
}

.comment {
    width: fit-content;
    margin: 0 auto 0 auto;

    .comment-form {
        display: grid;
        justify-items: left;
        column-gap: $spacing-unit;

        label {
            grid-column: 1;
        }
    
        #name, #email, #message {
            grid-column: 2;
        }

        #message {
            width: calc(10 * #{$spacing-unit});
        }
    }
}

.site-nav {
    z-index: 1;

    .page-link-box {
        border-bottom: solid 1px #e8e8e8;
    }
}

#PDF-viewer {
    width: 100%;
    min-height: 100vh;
    border-width: 1px;
    border-color: lightgray;
}

.comment-submit {
    margin-top: $spacing-unit;
    width: calc(4 * #{$spacing-unit});
    height: calc(1 * #{$spacing-unit});
    border-radius: 10px;
    border-color: lightgray;
    background-color: white;

    &:hover {
        background-color: lightgray;
        cursor: pointer;
    }
}

@media (min-width: 1360px) {

    .nav-block {
        position: relative;
        top: -11px;
    }

    .nav-block .side {
        position: absolute;
        transform: translate(calc(-100% - 60px)) rotate(-90deg);
        transform-origin: top right;
        transition: transform 1.5s ease, left 1.5s ease;
        left: 0;
    }

    .nav-block .side.active {
        transform: translate(-100%) rotate(0);
        left: -$spacing-unit;
    }

}

@media (max-width: 1360px) {
    .dp_container {
        visibility: hidden;
    }

    #navigator {
        visibility: hidden;
    }

    .nav-block {
        margin-bottom: $spacing-unit;
    }

    #index #right {
        grid-column-start: 1;
    }

}

@media (min-width: 600px) {

    .site-nav .page-link-box {
        display: inline-block;
        border-bottom: none;
    
        &:not(:last-child) {
            border-right: solid 1px #e8e8e8;
            padding-right: 10px;
            margin-right: 10px;
        }
    }
    
    .site-nav .page-link {
        transition: bottom ease .5s;
        display: flex;
        bottom: 0;
        position: relative;
        color: rgb(30, 100, 200);
        text-align: center;
        align-items: center;
        align-content: flex-start;
        line-height: inherit;
        margin: 0;
    
        &:hover {
            bottom: -10px;
        }
    }

    .wrapper {
        margin-left: 20%;
        margin-right: 20%;
    }
}