---
---

@import "minima";

.note {
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    padding: 10px;
    margin: 0 10px 0 10px;
}

p {
    margin-top: 15px;
}

div.theorem {
    font-style: italic;
    margin: 2% 0 2% 0;
}
  
div.theorem::before {
    content: "Theorem. ";
    font-weight: bold;
    font-style: normal;
}

div.theorem[text]::before {
content: "Theorem (" attr(text) "). ";
}

.site-nav .page-link-box {
    display: inline-block;

    &:not(:last-child) {
        border-right: solid 1px #e8e8e8;
        padding-right: 10px;
        margin-right: 10px;
    }
}

.site-header {
    line-height: 54px;
    min-height: 54px;
}

.site-nav .page-link {
    transition: bottom ease .5s;
    transition-timing-function: ease;
    display: flex;
    bottom: 0;
    position: relative;
    color: rgb(30, 100, 200);
    text-align: center;
    align-items: center;
    align-content: flex-start;
    line-height: inherit;
    margin: 0;

    &:hover {
        bottom: -10px;
    }
}

.dp {
    position: absolute;
    width: 250px;
    margin-top: -30px;
}

@media (max-width: 1300px) {
    .dp {
        visibility: hidden;
    }
}