---
---

@import "minima";

$spacing-unit:      30px !default;
$header-height:     $spacing-unit * 1.865;

// @font-face {
//   font-family: Hundar;
//   src: url(assets/Hundar.woff2);
// }

// html * {
//     font-family: Hundar;
// }

.site-header {
    background: radial-gradient(circle,rgba(196, 194, 194, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

picture {
    display: block;
    margin: 10px 0;
    img {
        display: block;
        margin: 0 auto;
    }
}

.spoiler {
    opacity: 0;
    border: solid 2px black;
}
    
.spoiler .content:hover {
    opacity: 1;
}

#navigator {
    position: sticky;
    top: 0;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 998;

    #nav-box {
        background-color: white;

        border-style: solid;
        border-color: #e8e8e8;
        border-radius: 0 0 10px 10px;
        border-width: 0 1px 1px 1px;

        #nav-list {
            column-count: 4;
        }
    
        #back-to-top {
            display: inline;
        }
    
        #index-header {
            display: inline;
            margin-right: 10%;
        }
    }
}

p {
    margin-top: 15px;
}

hr#Overview {
    margin-top: 50px;
}

div.theorem {
    font-style: italic;
    margin: 2% 0 2% 0;
}
  
div.theorem::before {
    content: "Theorem. ";
    font-weight: bold;
    font-style: normal;
}

div.theorem[text]::before {
content: "Theorem (" attr(text) "). ";
}

div.def {
    border-radius: 10px;
    border-color: lightgray;
    border-style: solid;
    border-width: 2px;

    padding: 10px;
    margin: 15px 10px 15px 10px;
}

div.def::before {
    content: "Definition. ";
    font-weight: bold;
    font-style: normal;
}

div.def[text]::before {
content: "Definition (" attr(text) "). ";
}

.dp_container {
    position: absolute;
    width: 250px;
    margin-top: -30px;
    transition: width 1s ease;

    &:hover {
        width: 500px;
    }
}

.dp_text {
    position: absolute;
}

.dp {
    position: absolute;
    margin-top: 0;
    top: 0;
    transition: top 1s ease, rotate 1s ease, width 1s ease;

    &:hover {
        top: 100px;
        rotate: -45deg;
    }
}

.wrapper {
    margin-left: 5%;
    margin-right: 5%;
    max-width: unset;
}

.note {
    border-radius: 10px;
    border: solid 2px #0000;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgb(30, 100, 200), rgb(255, 210, 0)) border-box;

    padding: 10px;
    margin: 15px 10px 15px 10px;

    position: relative;
}

.note p, .def p, .wrapper p {
    margin: 0;
}

.note .side {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: center;
    left: calc(100% + #{$spacing-unit});
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.gallery {
    width: 100%;
    margin-top: calc(#{$spacing-unit} / 2);
    margin-bottom: calc(#{$spacing-unit} / 2);
    columns: 2 300px;
    column-gap: 1em;

    img {
        margin: 0;
        display: block;
        margin-bottom: 1em;
        width: 100%;
    }
}

ul, ol, img {
    margin-top: calc(#{$spacing-unit} / 2);
    margin-bottom: calc(#{$spacing-unit} / 2);
}

figure {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.boxed {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(211, 211, 211, 0.75);
    border-radius: 10px;

    padding: 10px;
}

.nav-block .side {
    border-bottom: solid 1px rgb(30, 100, 200);
    border-right: solid 1px rgb(30, 100, 200);
    border-bottom-right-radius: 5px;
    padding-right: 5px;
    width: fit-content;
    color: rgb(30, 100, 200);
}

.ongoing {
    color: rgb(230, 150, 2);
}

#index {
    display: grid;
    justify-items: center;

    #left {
        grid-column-start: 1;
    }

    #right {
        grid-column-start: 2;
    }
}

.comment {
    width: fit-content;
    margin: 0 auto 0 auto;

    .comment-form {
        display: grid;
        justify-items: left;
        column-gap: $spacing-unit;

        label {
            grid-column: 1;
        }
    
        #name, #email, #message {
            grid-column: 2;
        }

        #message {
            width: calc(10 * #{$spacing-unit});
        }
    }
}

.site-nav {
    z-index: 999;

    .page-link-box {
        border-bottom: solid 1px #e8e8e8;
    }
}

.list-collapser {
    ul {
        margin-top: 0;
    }
}

#PDF-viewer {
    width: 100%;
    min-height: 100vh;
    border-width: 1px;
    border-color: lightgray;
}

.comment-submit {
    margin-top: $spacing-unit;
    width: calc(4 * #{$spacing-unit});
    height: calc(1 * #{$spacing-unit});
    border-radius: 10px;
    border-color: lightgray;
    background-color: white;

    &:hover {
        background-color: lightgray;
        cursor: pointer;
    }
}

@media (min-width: 1360px) {

    .nav-block {
        position: relative;
        top: -11px;
    }

    .nav-block .side {
        position: absolute;
        transform: translate(calc(-100% - 60px)) rotate(-90deg);
        transform-origin: top right;
        transition: transform 1.5s ease, left 1.5s ease;
        left: 0;
    }

    .nav-block .side.active {
        transform: translate(-100%) rotate(0);
        left: -$spacing-unit;
    }

    #navigator {
        padding-right: $spacing-unit;
        margin-left: 85%;
        margin-right: 0;
        // top: calc(#{$header-height} + 5px);
        height: 0px;
        width: 15%;

        #nav-box {
            position: relative;
            top: -100%;
            border-width: 0 0 1px 1px;

            #index-header {
                display: none;
            }

            #nav-list{
                column-count: 1;
            }
        }
    }
}

@media (max-width: 600px) {
    #navigator {
        position: relative;
        width: 100%;
        top: 0;
        margin: 0;
        height: unset;

        #nav-box {
            border-width: 0 0 1px 0;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            padding-left: $spacing-unit;

            #nav-list{
                column-count: 1;
            }

            #back-to-top {
                display: none;
            }
        }
    }
}

@media (max-width: 1360px) {
    .dp_container {
        visibility: hidden;
    }

    .nav-block {
        margin-bottom: $spacing-unit;
    }

    #index #right {
        grid-column-start: 1;
    }
}

@media (min-width: 600px) {

    .site-nav .page-link-box {
        display: inline-block;
        border-bottom: none;
    
        &:not(:last-child) {
            // border-right: solid 1px #e8e8e8;
            padding-right: 10px;
            margin-right: 10px;
        }
    }
    
    .site-nav .page-link {
        transition: bottom ease .5s;
        display: flex;
        bottom: 0;
        position: relative;
        color: rgb(30, 100, 200);
        text-align: center;
        align-items: center;
        align-content: flex-start;
        line-height: inherit;
        margin: 0;
    
        &:hover {
            bottom: -10px;
        }
    }

    .wrapper {
        margin-left: 20%;
        margin-right: 20%;
    }
}
    
.token.class-name {
//   color: #f08d49 !important; /* blue-ish */
    color: #905 !important;
}

.token.function {
    color: #690 !important;
}