<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- seo -%}
  
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {% if page.layout == 'post' %}
      {% if page.ids %}
        <div id = "navigator">
          <div id = "nav-box">
            <span id = "index-header">Index of this post:</span>
            <span id = "back-to-top">
              <i class = "fa fa-chevron-up" style = "margin-left: calc(1em - 5px)"></i> <a href = "#site-header">Back to top</a>
              <br>
            </span>
            <ul id = "nav-list">
              {% for id in page.ids %}
              {% assign words = id | split: " " %}
              {%- capture full_id -%}
                {% for word in words %}
                  {{- word | capitalize -}}
                {% endfor %}
              {%- endcapture -%}

                <li>
                  <a href = "#{{ full_id }}" onclick="rotator(document.getElementById('{{ full_id }}').nextElementSibling.firstChild);">{{ id }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

      {% endif %}
    {% endif %}


    <main class="page-content" aria-label="Content">

      <div class = "dp_container">
        <div class = "dp_text">
          <!-- INSERT TEXT HERE -->
        </div>
        <img class = "dp" src = "{{site.baseurl}}/assets/figures/DP.jpg"/>
      </div>

      <div class="wrapper">
        {{ content }}
      </div>

      <hr class = "comment-rule">

      <h2 style = "margin-left: 20%;display:inline">Comments</h2>
      <div class = "comment">
        If you would like to leave a comment, please use the following form:<br><br>
        <div>
        <form class = "comment-form" action="https://formspree.io/f/mzbnnzgl" method="POST">
          <label for="name">Your name:</label>
          <input id="name" type="name" name="name">
          <br>
          <label for="email">Your email:</label>
          <input id="email" type="email" name="email">
          <br>
          <label for="message">Your message:</label>
          <textarea id="message" name="message"></textarea>
          <br>
          {% if page.path contains "_posts" %}
            <input type = "hidden" name = "page" value = "Post: {{ page.title }}">
          {% endif %}
          <button type="submit" class = "comment-submit">Submit</button>
        </form>
        </div>
      </div>
    </main>


    {%- include footer.html -%}

  </body>

</html>
