---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <br>

  <h2>Research projects</h2>
  <ul>
    <li><b>Structured conformal prediction for partially observed data</b></li>
    <li><b>A metric interpretation of popular nonconformity scores</b></li>
    <li><b>The abstract nonsense of conformal prediction</b></li>
    <li><b>Hierarchical side-information for clusterwise conformal prediction</b>: A continuation of the last chapter in my <a href = "./Theses">PhD thesis</a>.</li>
  </ul>

  {%- if site.posts.size > 0 -%}

    <h2 class="post-list-heading">{{ page.list_title | default: "Pinned posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {% if post.publish == true %}
      {% if post.home == true %}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- assign formatted_date = post.date | date: date_format -%}
          {% unless formatted_date == "Jan 1, 2000" %}
            <span class="post-meta">{{ formatted_date }}</span>
          {% endunless %}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
            {% if post.ongoing == true %}
              <span class = "ongoing">(Ongoing)</span>
            {% endif %}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {% endif %}
      {% endif %}
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
