---
layout: default
---

{% include mathjax.html %}

<script>
  function rotator(object) {
      var active = document.getElementsByClassName("active");
      for(let obj of active) {
          obj.className = obj.className.replace(" active", "");
      }
      object.className += " active";
  }
</script>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- assign formatted_date = page.date | date: date_format -%}
        {% unless formatted_date == "Jan 1, 2000" %}
          {{ formatted_date }}
        {% endunless %}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script>
  objects = document.getElementsByClassName("side");
  for(let object of objects) {
      object.addEventListener("click", () => rotator(object));
  }
</script>